*{
	font-family: 'Poppins', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	text-transform: capitalize;
 }
 
 html{
	font-size: 62.5%;
	overflow-x: hidden;
 }
 
 .btn{
	display: block;
	width: 100%;
	cursor: pointer;
	border-radius: .5rem;
	margin-top: 1rem;
	font-size: 1.7rem;
	padding:1rem 3rem;
	background: #87CEEB;
	color:white;
	text-align: center;
 }
 .btn1{
	display: block;
	width: 100%;
	cursor: pointer;
	border-radius: .5rem;
	margin-top: 1rem;
	font-size: 1.7rem;
	padding:1rem 3rem;
	background: green;
	color:white;
	text-align: center;
 }
 
 .btn:hover{
	background: black;
 }
 

 
 .container{
	max-width: 1200px;
	padding:2rem;
	margin:0 auto;
 }
 
 .product-form-container.centered{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	
 }
 
 .product-form-container form{
	max-width: 50rem;
	margin:0 auto;
	padding:2rem;
	border-radius: .5rem;
	background: rgb(201, 201, 201);
 }
 
 .product-form-container form h3{
	text-transform: uppercase;
	color:black;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 2.5rem;
 }
 
 .product-form-container form .box{
	width: 100%;
	border-radius: .5rem;
	padding:1.2rem 1.5rem;
	font-size: 1.7rem;
	margin:1rem 0;
	background: white;
	text-transform: none;
 }
 
 .product-display{
	margin:2rem 0;
 }
 
 .product-display .product-display-table{
	width: 100%;
	text-align: center;
 }
 
 .product-display .product-display-table thead{
	background: var(--bg-color);
 }
 
 .product-display .product-display-table th{
	padding:1rem;
	font-size: 2rem;
 }
 
 
 .product-display .product-display-table td{
	padding:1rem;
	font-size: 2rem;
	border-bottom: var(--border);
 }
 
 .product-display .product-display-table .btn:first-child{
	margin-top: 0;
 }
 
 .product-display .product-display-table .btn:last-child{
	background: crimson;
 }
 
 .product-display .product-display-table .btn:last-child:hover{
	background: var(--black);
 } 
