body {
    background-color: #fafafa;
    overflow-x: hidden;
  }

body{
    font-family: sans-serif;
}

*{
	font-family: 'Poppins', sans-serif;
	margin:0; padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	text-transform: capitalize;
 }
 
 html{
	font-size: 62.5%;
	overflow-x: hidden;
 }
 
 .butn{
	display: block;
	width: 100%;
	cursor: pointer;
	border-radius: .5rem;
	margin-top: 1rem;
	font-size: 1.7rem;
	padding:1rem 3rem;
	background: #eb5353;
	color:white;
	text-align: center;
 }
 .butn1{
	display: block;
	width: 100%;
	cursor: pointer;
	border-radius: .5rem;
	margin-top: 1rem;
	font-size: 1.7rem;
	padding:1rem 3rem;
	background: green;
	color:white;
	text-align: center;
 }
 

 
 .container{
	max-width: 1200px;
	padding:2rem;
	margin:0 auto;
 }
 
 .product-form-container.centered{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	
 }
 .product-display{
	margin:2rem 0;
 }
 
 .product-display .product-display-table{
	width: 100%;
	text-align: center;
 }
 
 .product-display .product-display-table thead{
	background: var(--bg-color);
 }
 
 .product-display .product-display-table th{
	padding:1rem;
	font-size: 2rem;
 }
 
 
 .product-display .product-display-table td{
	padding:1rem;
	font-size: 2rem;
	border-bottom: var(--border);
 }
 
 .product-display .product-display-table .btn:first-child{
	margin-top: 0;
 }
 
 .product-display .product-display-table .btn:last-child{
	background: crimson;
 }
 
 .product-display .product-display-table .btn:last-child:hover{
	background: var(--black);
 } 
