<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="contactus.css">

</head>
<body>
    <div class="container">
        <div class="form">
            <div class="contact-info">
                <h3 class="title">For More Information</h3>
                <p class="text">To find out more about our website, 
                    contact us in</p>
                    <div class="info">
                        <div class="information">
                            <img src="img/email.png" class="icon" alt="">
                            <p>Carkhaani@gmail.com</p>
                        </div>
                        <div class="information">
                            <img src="img/phone.png" class="icon" alt="">
                            <p>1234567897</p>
                        </div>
                    </div>
            </div>
            <div class="contact-form">
                <form action="Contactus.html">
                    <h3 class="title">Contact Us</h3>
                    <div class="input-container">
                        <input type="text" name="name" class="input">
                        <label for="">Username</label>
                        <span>Username</span>
                    </div>
                    <div class="input-container">
                        <input type="email" name="email" class="input">
                        <label for="">Email</label>
                        <span>Email</span>
                    </div>
                    <div class="input-container">
                        <input type="tel" name="phone" class="input">
                        <label for="">Phone</label>
                        <span>Phone</span>
                    </div>
                    <div class="input-container textarea">
                        <textarea name="message" class="input" ></textarea>
                        <label for="">Message</label>
                        <span>Message</span>
                    </div>
                    <input type="submit" value="Send" class="btn">
                </form>
            </div>
        </div>
    </div>
    <script src="Contactus.js"></script>
</body>
</html>