<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>

    <link rel="stylesheet" href="/CustomerHome/static/css/footer.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <h3>Carkhaani</h3>
            <p>Carkhaani is a website where you can rent vehicles for your convenient use.
                The vehicle will be delivered in your desired location for the desired amount of time, if the given information about yourself is valid.</p>
            <h4>Contact Us</h4>
            <p>Gyaneshwor Marg,Kathmandu
                <br>
            Call : 1234567899
            <br>
            Email : carkhaani@gmail.com</p>
        </div>
    </footer>
    
</body>
</html>