<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="/CustomerHome/static/css/userprofile.css">
    <link rel="stylesheet" href="/CustomerHome/static/css/responsive.css">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="fonts/remixicon.css">
</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg"></span>


    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">

        <!-- ===== ===== Header/Navbar ===== ===== -->
        <header>
            <div class="brandLogo">
                <figure><img src="/CustomerHome/static/img/logo.JPG" alt="logo" width="40px" height="40px"></figure>
                <span>Car Khaani</span>
            </div>
        </header>


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="/CustomerHome/static/img/seventh photo.JPG" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->
            <div class="About">
                
                <div class="primary">
                    <h1>Bio</h1>
                    <p>Make yourself happy.</p>
                        
                </div>

                

            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <div class="skills">
                <h1 class="heading">Skills</h1>
                <ul>
                    <li style="--i:0">Android</li>
                    <li style="--i:1">Web-Design</li>
                    <li style="--i:2">UI/UX</li>
                    <li style="--i:3">Video Editing</li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">Oshika</h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    <span>Kathmandu Ratopul</span>
                </div>
                <p>User profile</p>
            </div>

            
            <div class="btns">
                <ul>
                    

                    <li class="sendMsg active">
                        <i class="ri-check-fill ri"></i>
                        <a href="#">Contacts</a>
                    </li>

                    
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    

                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_Info">
                <h1 class="heading">User Information</h1>
                <ul>
                    <li class="firstname">
                        <h1 class="label">First name:</h1>
                        <span class="info">sita</span>
                    </li>
                    <li class="lastname">
                        <h1 class="label">Last name:</h1>
                        <span class="info">shrestha</span>
                    </li>
                    <li class="phone">
                        <h1 class="label">Phone:</h1>
                        <span class="info">+11 234 567 890</span>
                    </li>
                    <li class="city">
                        <h1 class="label">city:</h1>
                        <span class="info">+11 234 567 890</span>
                    </li>
                    <li class="state">
                        <h1 class="label">state:</h1>
                        <span class="info">+11 234 567 890</span>
                    </li>
                    <li class="zipcode">
                        <h1 class="label">zip code:</h1>
                        <span class="info">1149</span>
                    </li>

                    <li class="address">
                        <h1 class="label">Address:</h1>
                        <span class="info">S34 E 65th Street <br> New York, NY 10651-78 156-187-60</span>
                    </li>
                    <li class="license">
                        <h1 class="label">license:</h1>
                    <div class="form-group">
                        <label for="inputZip">Upload License</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="customer_license" id="license" style="cursor: pointer;" required>
                            <label class="custom-file-label" for="license">Choose file...</label>
                        </div>

                    <li class="email">
                        <h1 class="label">E-mail:</h1>
                        <span class="info">hello@carkhani.com</span>
                    </li>

                    <li class="site">
                        <h1 class="label">Site:</h1>
                        <span class="info">www.carkhani.com</span>
                    </li>
                </ul>
            </div>

            <div class="basic_info">
                <h1 class="heading">Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">Dec 25, 2000</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">female</span>
                    </li>
                    
                    
                </ul>
            </div>
        </section>
    </div>

</body>

</html>