{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service owner login</title>
    <link rel="stylesheet" href="{% static 'css/SignIn.css' %}">
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form action="/LoginAuthentication/" class="px-4 py-3" method="POST">
        {%csrf_token%}
        <div class="txt_field">
          <label for="exampleDropdownFormEmail1">Email</label>
          <br></br>
          <br>
          
          <input type="email" name="login_email" id="exampleDropdownFormEmail1" autocomplete = "off" required>
          
          
        </div>
        <div class="txt_field">
          <label for="exampleDropdownFormPassword1">Password</label>
          <br></br>
          <br>
          <input type="password" name="login_password" id="exampleDropdownFormPassword1" autocomplete = "off" required>
          
          
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" class="btn btn-primary" value="Login" name="Login" />
      
    
      
       <!-- <input type="submit" value="sign in" class="btn" /> -->
       <div class="flex">
       </div>
       <div class="signup_link">
        <b> <p>Don't have an account?</p></b>
        <a href="{% url 'Register' %}" class="btn">create an account</a>
       </div>
      
      </form>
    </div>

  </body>
</html>
{% endblock %}
